.hero {
  text-align: center;
  height: 100vh;
  position: relative;
  background-attachment: fixed;
}

.hero::after {
  content: "";
  background: url("../src/images/background__app.jpg");
  background-size: cover;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.topbar {
  background-color: #1c7aa7;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 3;
}

.topbar-menu {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  clear: both;
  transition: max-height .2s ease-out;
}

.topbar-button {
  margin: 24px 5px 0 0;
  padding: 5px 5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #B1E5E5;
  font-weight: bold;
  float: left;
  border: 1px solid #B1E5E5;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  width: 125px;
  background: #1c7aa7;
  font-size: 14px;
  z-index: 10;
}

.topbar-menu.topbar-menu--show-menu {
  display: block;
}

.topbar-button:hover,
.menu-btn:hover {
  background-color: #B1E5E5;
  color: #1c7aa7;
}

.topbar-logo {
  display: block;
  float: left;
  padding: 13px 20px;
  width: 90px;
  height: auto;
}

.menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.menu-icon .navicon {
  background: #B1E5E5;
  display: block;
  height: 3px;
  position: relative;
  transition: background .2s ease-out;
  width: 25px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
  background: #B1E5E5;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.menu-icon .navicon:before {
  top: 5px;
}

.menu-icon .navicon:after {
  top: -5px;
}

.menu-btn {
  display: none;
}

.menu-btn:checked ~ .menu {
  max-height: 240px;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 900px) {
  .topbar li {
    float: left;
  }

  .topbar-button {
    padding: 20px 30px;
  }

  .topbar-menu {
    display: block;
    clear: none;
    float: right;
    height: 400px;
    max-height: none;
  }

  .menu-icon {
    display: none;
  }

  .logout-button {
    background: none;
    float: right;
    display: inline;
    border: 1px solid #B1E5E5;
  }
}
